*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: #080808;
    color: #fff;
}

#header{
    /* display: flex; */
    width: 100%;
    height: 100vh;
    /* background-image: url(images/Kevin.jpg); */
    background-size: cover;
    background-position: right;
    /* background-attachment: fixed; */
}


/* h1 in navbar */
nav h1{
    font-size: 45px;
    font-weight: 700;
}

nav h1 span{
    color: #1C9FDD;
}

.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo{
    width: 140px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span{
    /* color: #ff004f; */
    color: #1C9FDD;
}

/* About Section */
#about{
    padding: 80px 0;
    color: #ababab;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}

.about-col-2{
    flex-basis: 60%;
}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
    /* justify-content: space-between; */
}

.tab-links{
    margin-right: 50px;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
    user-select: none;
    position: relative;
}

.tab-links::after{
    content: "";
    width: 0;
    height: 3px;
    background: #1C9FDD;
    position: absolute;
    left: 0;
    bottom: -8px;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span{
    color: #89CFF0;
    font-size: 14px;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}


/* Services */
#services{
    color: #ababab;
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 40px;
}

.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 400;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.services-list div i{
    font-size: 50px;
    margin-bottom: 20px;
    /* border-radius: 50%; */
}

.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
    /* border-radius: 50%; */
}

.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover{
    background: #1C9FDD;
    transform: translateY(-10px);
}

/* Portfolio */
#portfolio{
    padding: 80px 0;
    color: #ababab;
}

.portfolio-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px;
}

.work{
    margin-top: 40px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.work img{
    width: 100%;
    display: block;
    transition: transform 0.5s;
}

.work:hover img{
    transform: scale(1.1);
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),#1C9FDD);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.work:hover .layer{
    height: 100%;
}

.layer h3{
    font-weight: 600;
    margin-bottom: 20px;
}

.layer a{
    font-size: 20px;
    margin-top: 20px;
    text-decoration: none;
    color: #1C9FDD;
    border-radius: 50%;
    background: #fff;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
}

.btn{
    display: block;
    margin: 50px auto;
    text-decoration: none;
    border-radius: 6px;
    width: fit-content;
    border: 1px solid #1C9FDD;
    color: #fff;
    padding: 14px 50px;
}

.btn:hover{
    background-color: #1C9FDD;
}

/* contact details */

.details-container{
    display: flex;
    justify-content: space-between;
}

.contact-details{
    flex-basis: 35%;

}

.contact-details p{
    margin-top: 25px;
}

.contact-details p i{
    color: #1C9FDD;
    margin-right: 10px;
    font-size: 20px;
}

.text-area{
    flex-basis: 60%;
}

.details-container h1{
    margin-bottom: 25px;
}

.social-icons{
    margin-top: 30px;
}

.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.btn-contact{
    display: inline-block;   
    background: #1C9FDD;
}

.social-icons a:hover{
    color: #1C9FDD;
    transform: translateY(-5px);
}

.text-area form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

form .btn-contact{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;

}

.copyright i{
    color: #ff004f;
}


/* css for small screens */
nav .fas{
    display: none;
}

@media only screen and (max-width: 600px){
    #header{
        background-image: url(images/phone-background.png);  
    }
    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }

    .header-text h1{
        font-size: 30px;

    }

    nav .fas{
        display: block;
        font-size: 25px;
    }

    nav ul{
        background-color: #1C9FDD;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
    }

    nav ul li{
        display: block;
        margin: 25px;
    }

    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }


   


}